@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
  --font-gaming: var(--font-press);
}

@layer utilities{
  .navbar{
    background-image: 
      repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0px,
        rgba(0, 0, 0, 0.1) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        180deg, 
        #475569 0%, #475569 15%,   
        #334155 15%, #334155 85%,  
        #1e293b 85%, #1e293b 100%  
      );

    clip-path: polygon(
      0 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0,
      calc(100% - 8px) 0, calc(100% - 8px) 4px, calc(100% - 4px) 4px, calc(100% - 4px) 8px, 100% 8px,
      100% calc(100% - 8px), calc(100% - 4px) calc(100% - 8px), calc(100% - 4px) calc(100% - 4px), calc(100% - 8px) calc(100% - 4px), calc(100% - 8px) 100%,
      8px 100%, 8px calc(100% - 4px), 4px calc(100% - 4px), 4px calc(100% - 8px), 0 calc(100% - 8px)
    );

    /* Pixel Frame Shadows */
    box-shadow:
      inset 0 4px 0 rgba(255, 255, 255, 0.1),
      0 -4px 0 #fbbf24,
      4px 0 0 #fbbf24,
      0 4px 0 #fbbf24,
      -4px 0 0 #fbbf24,
      0 -8px 0 #000,
      0 8px 0 #000,
      8px 0 0 #000,
      -8px 0 0 #000; 
  }
  .pixel-button {
    @apply border-[3px] border-black py-1 px-4 text-sm text-white shadow-[4px_4px_0_black] active:translate-x-0.5 active:translate-y-0.5 active:shadow-[2px_2px_0_black] transition-all cursor-pointer ;
  }

  .pixel-button-sm {
    @apply border-2 border-black py-1 px-3 text-[10px] text-white shadow-[2px_2px_0_black] active:translate-x-0 active:translate-y-0 active:shadow-none transition-all cursor-pointer;
  }
}